*, *:before, *:after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box
}

body {
  margin: 0;
}

.text-color-blue {
  color: #007cca;
}

.bcn-top {
  top: 0;
}

.bcn-top, .bcn-bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.bcn-bar {
  width: 100%;
  /*overflow: hidden;*/
}

.bcn-bar::before, .bcn-bar::after {
  content: "";
  display: table;
  clear: both;
}

.bcn-bar .bcn-bar-item {
  padding: 8px 16px;
  float: left;
  background-color: inherit;
  color: inherit;
  width: auto;
  border: none;
  outline: none;
  display: block;
}

.bcn-button {
  border: none;
  display: inline-block;
  vertical-align: middel;
  padding: 6px 16px;
  outline: 0;
  overflow: hidden;
  text-decoration: none!important;
  color: #fff;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.bcn-bar .bcn-button {
  background-color: inherit;
  color: inherit;
  white-space: normal;
}

.bcn-bar .bcn-button:hover{
  color: white;
  background-color: rgba(0, 124, 202, 0.5);
}

.bcn-white, .bcn-hover-white:hover {
  color: #000!important;
  background-color: #fff!important;
}

.bcn-wide {
  letter-spacing: 2px;
}

.bcn-has-submenu {
  position: relative;
  display: inline-block;
}

.bcn-submenu-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px 15px;
    z-index: 1;
    top: 38px;
}

.bcn-submenu-content .bcn-submenu-item {
  list-style: none;
  border-top: 1px solid #efefef;
  padding: 5px 0px 10px 5px;
  font-size: 12px;
}

.bcn-submenu-content .bcn-submenu-item2 {
  list-style: none;
  /*border-bottom: 1px solid #efefef;*/
  padding: 5px 0px 5px 30px;
  font-size: 11px;
}

.bcn-submenu-content .bcn-submenu-item:hover, .bcn-submenu-content .bcn-submenu-item2:hover {
  color: white;
  background-color: rgba(0, 124, 202, 0.5);
}

.bcn-has-submenu:hover .bcn-submenu-content {
  display: block;
}

.bcn-padding {
  padding: 8px 16px!important;
}

.bcn-padding-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.bcn-padding-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.bcn-padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.bcn-card-2 {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.bcn-margin-left {
  margin-left: 16px!important;
}

.bcn-right {
  float: right!important;
}

.bcn-header {
  width:1500px;
  height: 500px;
  overflow: hidden;
}

.bcn-display-container {
  position: relative;
}

.bcn-content {
  position: relative;
  max-width:1500px;
  top: 54px;
  margin: auto;
}

.bcn-header .bcn-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate(0%,-15%);
}

.bcn-text-light-gray {
  color: #f1f1f1!important;
}

.bcn-display-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bcn-news-container {
  width: 100%;
  height: 210px;
  overflow: hidden;
}

.main-news-img {
  width:100%;
  height:auto;
  background-color:gray;
}

.bcn-center {
  text-align: center!important;
}

.bcn-text-white {
  color: #fff!important;;
}

.bcn-back-black {
  color: #fff!important;
  background-color: #000!important;
}

.bcn-opacity-min {
  opacity: 0.75;
}

.bcn-container {
  padding: 0.01em 16px;
}

.bcn-border-bottom {
  border-bottom: 1px solid #f1f1f1!important;
}

.bcn-row-padding, .bcn-row-padding>.bcn-col {
  padding: 0 8px;
}

.bcn-col {
  float: left;
  width: 100%;
}

.bcn-margin-bottom {
  margin-bottom: 16px!important;
}

.bcn-news-thums {
  width: 350px;
  height: 220px;
}

.bcn-display-topleft {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 601px){
  .bcn-col.m6 {
    width: 49.99999%;
  }
}

@media (min-width: 993px){
  .bcn-col.l3 {
    width: 24.99999%;
  }
}
